.Table {
	display: grid;
	justify-content: center;
	padding: 10px;
	column-gap: 60px;
	grid-template-rows: auto 40px auto;
}

.Deck {
	display: grid;
	container-type: size;
	aspect-ratio: .625;
	height: calc(29vh + 10px);
	grid-column-start: 1;
	grid-row-start: 1;
	grid-row-end: 4;
	align-self: center;
}


.Deck:hover .Card-Wrapper::after {
	content: ' ';
	position: absolute;
	background: #000;
	opacity: .25;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	border-radius: 10cqw;
}

.Deck:hover {
	cursor: pointer;
}

.Deck:hover .DeckLabel>span::after {
	content: 'Deal';
	position: absolute;
	color: #00F;
	opacity: .5;
	top: 0px;
	left: 0px;
	border-radius: 10cqw;
}

.DeckLabel {
	text-align: center;
	font-size: 20cqh;
	color: white;
	grid-row-start: 1;
	grid-column-start: 1;
	z-index: 1;
	padding-left: 10px;
	padding-top: 10px;
	margin-top: 50%;
	user-select: none;
}

.DeckLabel>span {
	position: relative;
}

.Deck .Card-Wrapper {
	grid-row-start: 1;
	grid-column-start: 1;
}	

.Hand {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 30px;
	grid-column-start: 2;
}

.Hand.Player {
	grid-row-start: 3;
}

.Hand.Dealer {
	grid-row-start: 1;
}	
.HandLabel {
	font-size: 30px;
	grid-column-start: 1;
	grid-column-end: 3;
	text-align: center;
	padding: 8px;
}

.Actions {
	grid-row-start: 4;
	grid-column-start: 2;
	justify-self: center;
	padding: 20px;
}